body {
  background-color: #181a1b;
  color: #c9d1d9;
  padding: 2em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.markdown-body {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 2em;
  border-radius: 6px;
  max-width: 800px;
  margin: 0 auto;
}

.markdown-body img[src*="abuseipdb.com/contributor"] {
  max-width: 150px !important;
  height: auto !important;
}

.markdown-body img[src*="github-readme-stats"], 
.markdown-body img[src*="github-streak-stats"] {
  width: 400px !important;
  height: 200px !important;
  display: block;
  margin: 10px auto; /* Centraliza as imagens */
}
